{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h3>Sign up</h3>
            <p>Already have an account? Then please <a href="{{ login_url }}">log in</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 bottom">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signup right" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}