
/* Materialize styles */
.collapsible .collapsible-body{
    padding:3px;
  }

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

.collapsible-margin-bottom {
    margin-bottom: 50px;
}

/* Might need to be adjusted */
.footer-fixed{
    z-index: 10;
   /* position: absolute; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
} 

/* From base.html */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-fixed {
   
}

.subscription-details {
    padding: 10px 0;
}

.edit-form {
    display: none;
}

/* Custom styles */
.bottom{
    margin-bottom: 50px !important;
}

.top{
    padding-top: 20px !important;
}

.button-padding{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cell-centered{
    text-align: center;
}

.no-icon{
    display: none;
}

.padding-right{
    margin-right: 10px;
}

.padding-top{
    margin-top: 10px;
}

.message{
    font-weight: bold;
    width: 100%;
}

