{% extends 'base.html' %}
{% block content %}

<div class="container center-content bottom">
    <!-- Introduction -->
    <section class="left-align">
        <h2>Managing Your Subscriptions</h2>
        <p>Keeping track of various subscriptions for online services can be challenging. It’s often difficult to get a
            clear overview of your monthly expenses. Subscription Manager is here to help you manage and monitor all
            your subscriptions in one place.</p>
    </section>

    <!-- Image -->
    <section>
        <img src="/static/images/subman_start_comp.jpg" alt="Placeholder Image" style="width: 100%; height: auto;">
    </section>

    <!-- Presentation of key features -->
    <section class="left-align">
        <h3>About </h3>
        <p>Subscription Manager is a powerful tool designed to simplify the way you handle your subscriptions. Here are
            some of the key features:</p>
        <ul>
            <li>Track all your subscriptions in one place</li>
            <li>Get reminders for upcoming renewals, cancellation etc</li>
            <li>Analyze your monthly expenses</li>
            <li>Easy-to-use interface</li>
        </ul>
    </section>

    <!-- Feature descriptions -->
    <section class="left-align">
        <h3>How to Use</h3>

        <div class="feature">
            <div>
                <h5>Add</h5>
                <ul>
                    <li>Click the add icon at the top of the subscription list.</li>
                    <li>Choose a service from the list.</li>
                    <li>You can choose any service and call it whatever you want.</li>
                    <li>Click the 'Save' button to add the subscription.</li>
                </ul>
            </div>
            <img src="/static/images/add.png" alt="Adding Subscriptions" class="feature-image">
        </div>
        <br>

        <div class="feature">
            <div>
                <h5>View</h5>
                <ul>
                    <li>Choose Subscriptions from the menu.</li>
                    <li>Click on a subscription to see the details.</li>
                </ul>
            </div>
            <img src="/static/images/list.png" alt="Viewing Subscriptions" class="feature-image">
        </div>
        <br>

        <div class="feature">
            <div>
                <h5>Edit</h5>
                <ul>
                    <li>Click on a subscription in the list.</li>
                    <li>Click the Edit button</li>
                    <li>Click the 'Save' button to update the subscription when you're done editing.</li>
                </ul>
            </div>
            <img src="/static/images/edit.png" alt="Editing Subscriptions" class="feature-image">
        </div>
        <br>

        <div class="feature">
            <div>
                <h5>Be Reminded</h5>
                <ul>
                    <li>Click Edit for the subscription you want to add a reminder for.</li>
                    <li>Enter an email address if you want to receive an e-mail.</li>
                    <li>Add reminder date and a message.</li>
                </ul>
            </div>
            <img src="/static/images/reminder.png" alt="Setting Reminders" class="feature-image">
        </div>
    </section>
</div>

{% endblock %}
