{% extends 'base.html' %}
{% url 'subscription_list' as list_url %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">

        <div class="container">
            <h4>Add Subscription</h4>
            <!-- Show message if there is any-->
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <!--<div style="background-color:rgb(230, 37, 15)" width="100">-->
                <div class="message red lighten-3">
                {{ message | safe }}
            </div>
            {% else %}
            <!--<div style="background-color:rgb(137, 225, 121)" width="100">-->
                <div class="message lightgreen lighten-3">
                {{ message | safe }}
            </div>
            {% endif %}
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn right">Submit</button>
                <a href="{% url 'subscription_list' %}" class="btn btn-default right padding-right red">Cancel</a>
            </form>
        </div>
    </div>
</div>


{{ services_dict |json_script:"servicesData" }}
<script>
    const servicesDict = JSON.parse(document.getElementById('servicesData').textContent);
    sortSelectEntries(document.getElementById('id_service')); // Sorts the services list alphabetically

    document.getElementById('id_service').addEventListener('change', function () {
        const selectedName = this.options[this.selectedIndex].textContent; // Gets the selected service name
        const selectedPrice = servicesDict[selectedName]; // Gets the price using the service name as key
        document.getElementById('id_monthly_price').value = selectedPrice || ''; // Updates the price text field
        document.getElementById('id_subscription_name').value = selectedName || ''; // Updates the name field
    });

    // Sorts the select, function from: 
    // https://stackoverflow.com/questions/1129216/sort-select-options-in-javascript
    function sortSelectEntries(selItem) {
        let formerSel = selItem.value;
        let count = selItem.length;
        let options = new Array();
        for (var i = 0; i < count; i++)
            options[i] = selItem.options[i];
        options.sort((e1, e2) => e1.text > e2.text ? 1 : (e1.text < e2.text ? -1 : 0));
        for (i = 0; i < count; i++)
            selItem.options[i] = options[i];
        selItem.value = formerSel; 
    }
</script>

{% endblock %}
