{% extends 'base.html' %} 
{% url 'subscription_list' as list_url %}


{% block content %}

  
    <div class="row">
        <div class="col s12 m8 offset-m2">
             
            <div class="container">
                <h4>Add Subscription</h4>
                 <!-- Show message if there is any-->
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div style="background-color:rgb(230, 37, 15)" width="100">
                        {{ message | safe }}
                    </div>
                    {% else %}
                    <div style="background-color:rgb(137, 225, 121)" width="100">
                        {{ message | safe }}
                    </div>
                    {% endif %}  
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="waves-effect waves-light btn right">Submit</button>
                    <a href="{% url 'subscription_list' %}" class="btn btn-default right padding-right red">Cancel</a>
                </form>
            </div>
        </div>
     </div>
    
  
        {{ services_dict |json_script:"servicesData" }}
    <script>
       const servicesDict = JSON.parse(document.getElementById('servicesData').textContent);
       //servicesDict = JSON.parse(servicesDict);
        console.log(servicesDict);
        
        document.getElementById('id_service').addEventListener('change', function() {
            console.log(this);  // Gets the selected service name
            const selectedName = this.options[this.selectedIndex].textContent;  // Gets the selected service name
            console.log(selectedName);

            const selectedPrice = servicesDict[selectedName];  // Gets the price using the service name as key
            console.log(selectedPrice);
            document.getElementById('id_monthly_price').value = selectedPrice || '';  // Updates the price text field
            document.getElementById('id_subscription_name').value = selectedName || ''; // Updates the subscription name text field
        });

    </script>

{% endblock %}




