{% extends 'base.html' %}
{% url 'subscription_list' as list_url %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="container">
            <h4>Add Subscription</h4>
            <!-- Show message if there is any-->
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="message red lighten-3">
                {{ message | safe }}
            </div>
            {% else %}
                <div class="message light-green lighten-3">
                {{ message | safe }}
            </div>
            {% endif %}
            {% endfor %}
            <!-- Add form -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn right">Submit</button>
                <a href="{% url 'subscription_list' %}" class="btn btn-default right padding-right red">Cancel</a>
            </form>
        </div>
    </div>
</div>

<!-- json data with service names and price -->
{{ services_dict |json_script:"servicesData" }}

<script src="{% static 'js/sortSelect.js' %}"></script>
<script src="{% static 'js/add.js' %}"></script>

{% endblock %}
