{% extends 'base.html' %}
{% url 'subscription_list' as list_url %}
{% load static %}

{% block content %}

<!-- Show message if there is any-->
{% for message in messages %}
<div class="message light-green lighten-3" width="100">
    {{ message | safe }}
</div>
{% endfor %}
<div class="row">
    <div class="col s12 m8 offset-m2 bottom">
        <div class="container">
            <h5>Edit Subscription for {{ subscription.subscription_name}}</h5>
            <!-- Edit form-->
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="waves-effect waves-light btn right">Submit</button>
                <a href="{% url 'subscription_list' %}" class="btn btn-default right padding-right red">Cancel</a>
                <a href=""><i id="clear_reminder" class="small material-icons left red-text tooltipped"
                        data-position="top" data-tooltip="Clear reminder">notifications_off</i></a>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/edit.js' %}"></script>

{% endblock content %}
