{% extends 'base.html' %} 
{% url 'subscription_form' as add_url %}
{% url 'subscription_edit' as edit_url %}

{% block content %}
     <!-- Show message if there is any-->
     {% for message in messages %}
     <div style="background-color:rgb(137, 225, 121)" width="100">
         {{ message | safe }}
     </div>
     {% endfor %}
    <div class="container">
        <h4 class="center-align">My Subscriptions</h4>
        {% if not subscriptions %}
        <p>You have no subscriptions !!</p>
        {% else %}
            <!-- Old list
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.service.name }}</td>
                    <td>{{ subscription.monthly_price }}</td>
                    <td>{{ subscription.service.category.name }}</td>
                    <td><a href="{% url 'subscription_edit' subscription.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            -->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <ul class="collapsible">
                {% for subscription in subscriptions %}
                <li>
                    <div class="collapsible-header" style="background:lightred">
                      <i class="material-icons">movie</i>
                      {{ subscription.service.category.name }} - {{ subscription.service.name }} - {{ subscription.monthly_price }}
                    </div>
                    <div class="collapsible-body">
                      <!--<div class="subscription-details"> -->
                        <br>
                        <strong>Expiry Date:</strong> {{ subscription.expiry_date }}<br>
                        <strong>Link:</strong> <a href=" {{ subscription.service.url }} " target="_blank">{{ subscription.service.name }}</a><br>
                        <strong>Payment Method:</strong> {{ subscription.payment_method }} <br>
                        <!-- Placeholder for edit form-->
                      <!--</div>-->
                    </div>
                  </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
        {% endif %}
    <!-- End Div Container-->
    </div>
        <!-- Ev göra om till ikon och flytta överst -->    
        <p>
        <a href="{% url 'subscription_form' %}">Add subscription</a>
    </p>
{% endblock content %}
