{% extends 'base.html' %} 
{% url 'subscription_form' as add_url %}
{% url 'subscription_edit' as edit_url %}

{% block content %}
     <!-- Show message if there is any-->
     {% for message in messages %}
     <div style="background-color:rgb(137, 225, 121)" width="100">
         {{ message | safe }}
     </div>
     {% endfor %}
    
     <div class="container">
        <h4 class="center-align">My Subscriptions</h4>
        {% if not subscriptions %}
        <p>You have no subscriptions !!</p>
        {% else %}
        <!-- ADD STATUS ROW (nr of subscriptions etc) -->

       
        <!-- Subscription list start-->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div>
                     <!-- ICONS for adding subscription ( and summary ) -->
                     <a href="{% url 'subscription_form' %}"><i class="medium material-icons right">add</i></a>
                     
                     <!-- <a class="waves-effect waves-light btn modal-trigger" href="#add-modal">Modal</a> -->
                </div>
                <ul class="collapsible">
                    
                    {% for subscription in subscriptions %}
        <li>
            <div class="collapsible-header">
                <span>
                    <i class="material-icons">expand_more</i>
                    {{ subscription.service.name }}
                </span>
                <span>{{ subscription.monthly_price }}</span>
            </div>
            
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <span class="title"><b>Active:</b></span>
                        {% if subscription.active %} Yes
                        {% else %} No
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <span class="title"><b>Price:</b></span> ${{ subscription.monthly_price }}
                    </li>
                    <li class="collection-item">
                        <span class="title"><b>Category:</b></span> {{ subscription.service.category.name }}
                    </li>
                    <li class="collection-item">
                        <span class="title"><b>Notes:</b></span> {{ subscription.notes }}
                    </li>
                    <li class="collection-item">
                        <span class="title"><b>Reminder Date:</b></span> {{ subscription.reminder_date|date:"Y-m-d" }}
                    </li>
                    <li class="collection-item">
                        <span class="title"><b>Reminder Notes:</b></span> {{ subscription.reminder_notes }}
                    </li>

                  
                </ul>
                <div class="right button-padding">    
                    <a href="{% url 'subscription_edit' subscription.id %}" class="btn-small waves-effect waves-light"><i class="material-icons left">edit</i>Edit</a>
                </div>
            </div>
            
        </li>
        {% endfor %}

                </ul>
            </div>
        </div>
        
        {% endif %}
    <!-- End Div Container-->
    </div>

{% endblock content %}
