
{% load static %}
{% load account %}
{% url 'subscription_list' as list_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'about' as about_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Import Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
        .footer-fixed {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
        }

        .subscription-details {
            padding: 10px 0;
        }
        .edit-form {
            display: none;
        }

    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-wrapper">
            <!--<img src="{% static 'images/calendar_sm.png' %}" width="60" height="60">-->
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">Sub Man</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'subscription_list' %}">Subscriptions</a></li>

                <!-- AUTHENTICATION -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                <!-- -->
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-menu">
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'subscription_list' %}">Subscriptions</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}

      </ul>

    <!-- Main Content -->
    <main>
        <div class="container">
            {% block content %}
            <!-- Content will be injected here -->
            {% endblock %}
        </div>
    </main>

    <!-- Fixed Footer -->
    <footer class="footer-fixed">
        © 2024 Your Website Name
    </footer>

    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Script for list.html -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let collapsibles = document.querySelectorAll('.collapsible');
            M.Collapsible.init(collapsibles);
            M.updateTextFields();

            let sidenav = document.querySelectorAll('.sidenav');
            M.Sidenav.init(sidenav);

            document.querySelectorAll('.edit-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                var form = this.nextElementSibling;
                form.style.display = form.style.display === 'none' ? 'block' : 'none';
                });
            });
        });
      </script>
</body>
</html>
